# Create a Travel Itinerary with a Corresponding Map

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
vacation_df = pd.read_csv("data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,2,Rikitea,PF,70.99,-23.12,-134.97,Pension Maro'i
1,5,Bathsheba,BB,82.40,13.22,-59.52,Atlantis Hotel
2,6,Albany,US,81.00,42.60,-73.97,NaN
3,8,Bethel,US,73.40,41.37,-73.41,Courtyard by Marriott Danbury
4,9,Komsomolskiy,UZ,71.60,40.43,71.72,Ikathouse

In [4]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
vacation_start = vacation_df.loc[vacation_df["City"] == "Kutum"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Mizan Teferi"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Gashua"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Koumra"]

In [16]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)

(14.2, 24.67)

In [17]:
print(end)

(6.98, 35.58)

In [18]:
print(stop1)

(12.87, 11.05)

In [19]:
print(stop2)

(8.91, 17.55)

In [20]:
fig = gmaps.figure()
vacation_itinery = gmaps.directions_layer(
                    start, end, waypoints = [stop1, stop2],
                    travel_mode = "DRIVING")
fig.add_layer(vacation_itinery)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
itinary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])
itinary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
271,465,Kutum,SD,74.46,14.20,24.67,Dibbo areaمنطقة دبو
175,317,Mizan Teferi,ET,62.94,6.98,35.58,Hotel Salayish | ሆቴል ሳላይሽ
206,368,Gashua,NG,86.25,12.87,11.05,Forte Oil - Old Lorry Park
68,131,Koumra,TD,74.19,8.91,17.55,Motel Espoir

In [22]:
itinary_df.reset_index(drop = True)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,465,Kutum,SD,74.46,14.20,24.67,Dibbo areaمنطقة دبو
1,317,Mizan Teferi,ET,62.94,6.98,35.58,Hotel Salayish | ሆቴል ሳላይሽ
2,368,Gashua,NG,86.25,12.87,11.05,Forte Oil - Old Lorry Park
3,131,Koumra,TD,74.19,8.91,17.55,Motel Espoir

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
locations = itinary_df[["Lat", "Lng"]]
max_temp = itinary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in itinary_df.iterrows()]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
vacation_itinery = gmaps.directions_layer(
                    start, end, waypoints = [stop1, stop2],
                    travel_mode = "DRIVING")
fig.add_layer(vacation_itinery)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))